<div class="pt-24">
    <section class="bg-white border-b py-12">            
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
			<div class="relative max-w-3xl mx-auto px-6">
				<div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-10">
					<svg class="h-4 w-4 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path></svg>
				</div>
				<input id="search-toggle" type="search" placeholder="¿Qué estas buscando?" class="block w-full  bg-gray-200 focus:outline-none focus:bg-white focus:shadow text-gray-500 font-bold rounded-lg pl-12 pr-4 py-3" onkeyup="updateSearchResults(this.value);">
			</div>
                    
                <div class="w-full mb-4">	
                    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                </div>
            
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <p class="w-full text-gray-600 text-xs md:text-sm px-6">xGETTING STARTED</p>
                            <div class="w-full font-bold text-xl text-gray-800 px-6">Lorem ipsum dolor sit amet.</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. 
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-start">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Action</button>
                        </div>
                    </div>
                </div>
                
                                
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <p class="w-full text-gray-600 text-xs md:text-sm px-6">xGETTING STARTED</p>
                            <div class="w-full font-bold text-xl text-gray-800 px-6">Lorem ipsum dolor sit amet.</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. 
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-center">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Action</button>
                        </div>
                    </div>
                </div>
                
                                
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
                            <p class="w-full text-gray-600 text-xs md:text-sm px-6">xGETTING STARTED</p>
                            <div class="w-full font-bold text-xl text-gray-800 px-6">Lorem ipsum dolor sit amet.</div>
                            <p class="text-gray-800 text-base px-6 mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula. 
                            </p>
                        </a>
                    </div>
                    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
                        <div class="flex items-center justify-end">
                            <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Action</button>
                        </div>
                    </div>
                </div>
                
                
        </div>
    </section>
    <section class="bg-white py-4 font-sans">
        <div class="container container max-w-xl m-auto flex flex-wrap flex-col md:flex-row items-center justify-start">
          <div class="w-full lg:w-1/2 p-3">
            <div class="flex flex-col lg:flex-row rounded overflow-hidden h-auto lg:h-32 border shadow shadow-lg">
              <img class="block h-auto w-full lg:w-48 flex-none bg-cover"
                   src="https://source.unsplash.com/random/200x125">
              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="text-black font-bold text-xl mb-2 leading-tight">Can coffee make you a better developer?</div>
                <p class="text-gray-700 text-base">Read more</p>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-3">
            <div class="flex flex-col lg:flex-row rounded overflow-hidden h-auto lg:h-32 border shadow shadow-lg">
              <img class="block h-auto w-full lg:w-48 flex-none bg-cover"
                   src="https://source.unsplash.com/random/200x125">
              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="text-black font-bold text-xl mb-2 leading-tight">Can coffee make you a better developer?</div>
                <p class="text-gray-700 text-base">Read more</p>
              </div>
            </div>
          </div>
        </div>
    </section>
 </div>