.logo-default {
    background: url(../../../assets/logos/logo_web.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
}

.logo-january{
    background: url(../../../assets/logos/logo_january.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-february{
    background: url(../../../assets/logos/logo_february.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-march{
    background: url(../../../assets/logos/logo_march.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-april{
    background: url(../../../assets/logos/logo_april.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-may{
    background: url(../../../assets/logos/logo_may.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
}

.logo-june{
    background: url(../../../assets/logos/logo_june.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-july{
    background: url(../../../assets/logos/logo_july.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-august{
    background: url(../../../assets/logos/logo_august.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-september{
    background: url(../../../assets/logos/logo_septembre.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
}

.logo-october{
    background: url(../../../assets/logos/logo_october.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-november{
    background: url(../../../assets/logos/logo_november.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-december{
    background: url(../../../assets/logos/logo_december.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 8.5s ease-in-out;
    position:absolute;
    left:0;
    -webkit-transition: opacity 8s ease-in-out;
    -moz-transition: opacity 8s ease-in-out;
    -o-transition: opacity 8s ease-in-out;
    transition: opacity 8s ease-in-out;  
}

.logo-white{
    background: url(../../../assets/logos/logo_glass.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-black-glass{
    background: url(../../../assets/logos/logo_black_glass.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.logo-white-glass{
    background: url(../../../assets/logos/logo_white_glass.png) no-repeat;
    position: relative;
    background-size: 225px 63px;
    height: 63px;
    width: 225px;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}